/* reset default spacing for all elements*/
* {
  margin: 0;
  padding: 0;
}

/* style for all icons*/
i {
  font-size: 35px;
  cursor: pointer;
  margin: 0 10px;
  color: black;
}

/*center main content vertically + horizontally*/
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*container of the whole shopping cart */
.shopping-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e7e7e7;
  border-radius: 10px;
  padding: 3%;
  margin: 50px 0;
}

/*total price style*/
.total-price span {
  font-size: 30px;
}

.total {
  font-weight: bold;
}

/*container of all cards*/
.list-products {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  width: 70%;
}

/*each product card spacing */
.card {
  padding: 5%;
}

/*center content inside each card*/
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*quantity number size */
.quantity {
  font-size: 25px;
}

/* Layout for control buttons inside the card */
.card-body div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

/* Trash icon color */
.fa-trash-alt {
  color: #de6b5c;
}